
footer {
    display: none;
}

@media (min-width: 968px) {

    footer {
        display: block;
    }

    .wrapper-footer {
        background-color: #000000;
        padding: 3.5rem 0 4rem;
    }

    .copyright {
        display: flex;
        color: #ffffff;
        justify-content: space-between;
        font-size: 12px;
        font-family: "Myriad Pro";
        color: rgba(255, 255, 255, 0.502);
        line-height: 2.167;
    }
}