.wrapper-mountins {
    background-image: url(../img/mountins.png);
    background-position: 50% -15rem;
    background-repeat: no-repeat;
    /* background-size: cover; */
    font-family: 'Lato', sans-serif;
    padding-bottom: 14.687rem;
}

.header {
    padding-top: 5.625rem;
    margin-bottom: 5.626rem;
}

.logo {
    margin: auto ;
    display: block;
    width: 147px;
    height: 148px;
}

.nav {
    display: none;
}

@media (min-width:768px) {
    .header {
        padding-top: 3rem;
        margin-bottom: 4.375rem;
    }
}

@media (min-width:1200px) {
    
    .wrapper-mountins {
        background-position: 50% -7.4rem;
    }

    .header {
        position: relative;
        padding-top: 6rem;
        margin-bottom: 13rem;
    }

    .logo {
        position: absolute;
        left: 41.5%;
        top: 20%
    }
    
    .nav {
        display: block;
    }

    .menu {
        display: flex;
        width: 60rem;
        justify-content: space-between;
        margin:auto;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .menu-item:nth-child(3) {

        margin-right: 20%;
    }


}
